<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resolution Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="nav">
          <a href="/resolutions">All Resolutions</a>
          <a href="/resolutions/new">New Resolution</a>
          <a href="/resolutions/<%=resolution._id%>/edit">Edit This Resolution</a>
            <% if (user) { %>
                <a class="logout" href="/logout">Log Out</a>
            <% } else { %>
                <a href="/auth/google">Login with Google</a>
            <% } %>
      </nav>
<section
 class="oneRes">
    <h2><%= resolution.text %></h3>
    <form action="/resolutions/<%=resolution._id%>?_method=DELETE" method="POST">
    <button class="delete" type="submit">Delete this resolution?</button></form>
    
    <form action="/resolutions/<%=resolution._id%>/" method="POST">
      <textarea name="content"></textarea>
      <button type="submit">Add Comment</button>    
  </form>
  
    <% if (resolution.comments.length) { %>
    <div>Comments</div>
      <div>
        <% resolution.comments.forEach(function(r) { %>
          <p><%= r.content %></p>
        <% }); %>
      </div>
  <% } else { %>
    <h5>No comments yet</h5>
  <% } %>
</section>
</body>
</html>